.title_card{
    height: 170px;
    width: 170px;
    border: 2px solid black;
    margin: 10px;
    float: left;
    background-color: white;
    position: relative;
}

.centered{
    text-align: center;
    float: none;
    margin: 0px auto;
    vertical-align: middle;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: blanchedalmond;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 15px 0 15px 0;
    width: 100%;
    color: white;
    background: rgb(67, 8, 161);
}

.head{
    width: 100%;
    height: 300px;
}

.text_head{
    text-shadow: 4px 4px 6px yellow ;
    color: whitesmoke;
    font-weight: bold;
}

.nav-item{
    margin: 10px 30px;
}

.box{
    background: rgba(0, 0, 0, 0.4);
}

.pic-card{
    padding: 0px;
    position: absolute;
    height: 165px;
    width: 165px;
}

.container{
    align-content: center;
}

.nav{
    background: rgb(67, 8, 161);
}